<header>
	<div class="text-center">
		<h1 class="text-6xl text-blue-700">Hola Mundo</h1>
		<p class="text-4xl text-amber-200">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia ratione, voluptatem reprehenderit recusandae voluptatibus numquam voluptate optio hic sit voluptates ut iste quas, odit ipsam possimus. Voluptates quia quam voluptatibus!</p>
		<p class="text-3xl text-red-500">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias fugit sequi consectetur modi asperiores dignissimos omnis earum est voluptas blanditiis?</p>
	</div>
</header>